body {
  /* background-color: #000000; */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 15px; */
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:50px;
}

.box-0 {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

.box-1 {
  border-bottom: 10px solid black;
}
.box-2 {
  border-left: 10px solid black;
  border-bottom: 10px solid black;
}
.box-3 {
  border-right: 10px solid black;
}
.box-5 {
  border-left: 10px solid black;
}
.box-6 {
  border-top: 10px solid black;
  border-right: 10px solid black;
}
.box-7 {
  border-top: 10px solid black;
}
.box-8 {
  border-left: 10px solid black;
  border-top: 10px solid black;
}

.icons {
  font-size: 60px;
  color: rgb(131, 12, 12);
}
.card{
  border:none;
}
